h1 {
  font-weight: 100;
  font-size: 5em
}

h3 {
  font-weight: 300;
}

main {
  padding-top: 20px;
  padding-bottom: 20px;
}

.home {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  flex-direction: column;
  height: 450px;
  justify-content: center;
}

i {
  vertical-align: bottom;
}

.brand-logo, .button-collapse {
  margin-left: 10px;
}

.brand-logo {
  font-weight: 300;
}
